html,body{height: 100%}
body{background: linear-gradient(silver,aquamarine,silver) }

.caja{
	text-align: center;}

.caja img{
	display: block;
	width: 30%;
	transition: all 60s;
	text-align: center;
	transform: rotate(360deg);
}
h1 {text-align: center; font: italic; font: cursive; font: 300px; 
	color: black;  }

h2{text-align: center;font: italic cursive; font: 300px; 
	color: purple}

li{direction: horizontal; font: italic cursive; font: 300px; 
	color: green}

footer {text-align: center; font: italic cursive; font: 200px; 
	color: green}