html,body{height: 500%}
body{background: linear-gradient(silver,aquamarine,silver) }

.caja{
	border: 5px solid black;
	text-align: right;}

.caja img{
	display: block;
	width: 30%;
	transition: all 60s;
	text-align: center;
	transform: rotate(360deg);
}

 nav{text-align: center;font: italic cursive; font: 200px; 
	color: black}


 h1 {text-align: right; font: italic cursive; font: 200px; 
	color: white;  }

<body> {background: border-right 500%)}

footer {text-align: right; font: italic cursive; font: 100px; 
	color: white}