html,body{height: 100%}
body{background: linear-gradient(silver,aquamarine,silver) }

.caja{
	text-align: right;}

.caja img{
	display: block;
	width: 30%;
	transition: all 60s;
	text-align: center;
	transform: rotate(360deg);
}

 nav{text-align: center;font: italic cursive; font: 300px; 
	color: black}


 h1 {text-align: right; font: italic cursive; font: 300px; 
	color: white;  }

footer {text-align: center; font: italic cursive; font: 200px; 
	color: green}