html,body{height: 100%}
body{background: linear-gradient(silver,aquamarine,silver) }

.caja{
	text-align: center; align-content: center;}

.caja img{
	display: block;
	width: 30%;
	transition: all 60s;
	
	transform: rotate(360deg);text-align: center;
}

.aside blockquote {

	display: block;
	width: 50%;
	transition: all 2s
    transform: scale(200%) ; 
    text-align: center;}

h1 {text-align: center; font-style: University.ttf; font: cursive; font: 300px; 
	color: black;  }

h2{text-align: center; font: University.ttf; font: 300px; 
	color: purple}

li{direction: horizontal; font: University.ttf ; font: 300px; 
	color: green}

footer {text-align: center; font: University.ttf; font: 200px; 
	color: green}